In [1]:
a = {'Ram':9800000000,'Shyam':9870000000,'Hari':9600000000}
for i in a:
    print(i)

Ram
Shyam
Hari

In [4]:
a = {'Ram':9800000000,'Shyam':9870000000,'Hari':9600000000}
for i in a.values():
    print(i)

9800000000
9870000000
9600000000

In [5]:
a = {'Ram':9800000000,'Shyam':9870000000,'Hari':9600000000}
for i in a.items():
    print(i)

('Ram', 9800000000)
('Shyam', 9870000000)
('Hari', 9600000000)

In [6]:
a = {}
a["momo"] = 200
a["pizza"] = 800
print(a)

{'momo': 200, 'pizza': 800}

In [7]:
a = {'Ram':9800000000,'Shyam':9870000000,'Hari':9600000000}
a["Ram"]=9500000000
print(a)

{'Ram': 9500000000, 'Shyam': 9870000000, 'Hari': 9600000000}

In [13]:
a = {'Ram':9800000000,'Shyam':9870000000,'Hari':9600000000}
a["Rama"]=9000000000
print(a)

{'Ram': 9800000000, 'Shyam': 9870000000, 'Hari': 9600000000, 'Rama': 9000000000}

In [14]:
a = {'Ram':9800000000,'Shyam':9870000000,'Hari':9600000000}
b = {"Gopal":9300000000}
a.update(b) #to concat in dict
print(a)

{'Ram': 9800000000, 'Shyam': 9870000000, 'Hari': 9600000000, 'Gopal': 9300000000}

In [16]:
a = {'Ram':9800000000,'Shyam':9870000000,'Hari':9600000000}
del a['Ram']
print(a)

{'Shyam': 9870000000, 'Hari': 9600000000}

In [22]:
a = {'Ram':9800000000,'Shyam':9870000000,'Hari':9600000000}
b = a.pop('Shyam')
print(b)
#a.update(b) #error because only value is popped, not the kye
print(a)

9870000000
{'Ram': 9800000000, 'Hari': 9600000000}

In [24]:
#list inside dict
a = {'Ram':[9800000000,9000000000],'Shyam':[9870000000,990000000],'Hari':[9600000000,9200000000]}
print(a['Ram'])

[9800000000, 9000000000]

In [28]:
a = {'name':['Ram','Shyam','Hari'],
    'age':[23,56,70],
    'add':['Kathmandu','Bhaktapur','Lalitpur']}
print(a)

#dictionary is heading of table

{'name': ['Ram', 'Shyam', 'Hari'], 'age': [23, 56, 70], 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [30]:
a = {}
n = int(input("Enter n: "))
for i in range(n):
    name = input("Enter name: ")
    ntc = int(input("Enter ntc: "))
    ncell = int(input("Enter ncell: "))
    a[name] = [ntc, ncell]
a

Enter n: 2
Enter name: sdfsfsfd
Enter ntc: 3
Enter ncell: 34
Enter name: dsfsfs
Enter ntc: 454
Enter ncell: 234

{'sdfsfsfd': [3, 34], 'dsfsfs': [454, 234]}

In [33]:
a = {'name':[],'age':[],'add':[]}
n = int(input("Enter n: "))
for i in range(n):
    name = input("Enter name: ")
    age = int(input("Enter ntc: "))
    add = int(input("Enter ncell: "))
    a['name'].append(name)
    a['age'].append(age)
    a['add'].append(add)
print(a)

Enter n: 2
Enter name: dsfsdf
Enter ntc: 23
Enter ncell: 23
Enter name: dsfs
Enter ntc: 34
Enter ncell: 34
{'name': ['dsfsdf', 'dsfs'], 'age': [23, 34], 'add': [23, 34]}

In [36]:
a = {'Ram':[9800000000,9000000000],'Shyam':[9870000000,990000000],'Hari':[9600000000,9200000000]}
a['Ram'].append("800000000")
a

{'Ram': [9800000000, 9000000000, '800000000'],
 'Shyam': [9870000000, 990000000],
 'Hari': [9600000000, 9200000000]}

In [5]:
a = {'name':['Ram','Shyam','Hari'],
    'age':[23,56,70],
    'add':['Kathmandu','Bhaktapur','Lalitpur']}
print(a['name'][0])
print(a['age'][0])
print(a['add'][0])

Ram
23
Kathmandu

In [7]:
a = {'name':['Ram','Shyam','Hari'],
    'age':[23,56,70],
    'add':['Kathmandu','Bhaktapur','Lalitpur']}
del a['name'][0]
del a['age'][0]
del a['add'][0]
a

{'name': ['Shyam', 'Hari'], 'age': [56, 70], 'add': ['Bhaktapur', 'Lalitpur']}

In [12]:
a = {'name':['Ram','Shyam','Hari'],
    'age':[23,56,70],
    'add':['Kathmandu','Bhaktapur','Lalitpur']}
for i in a:
    print(i)

name
age
add

In [17]:
a = {'name':['Ram','Shyam','Hari'],
    'age':[23,56,70],
    'add':['Kathmandu','Bhaktapur','Lalitpur']}
#k = list(a.keys())
index = int(input("Enter index: "))
for i in a:
    del a[i][index]
a

Enter index: 2

{'name': ['Ram', 'Shyam'], 'age': [23, 56], 'add': ['Kathmandu', 'Bhaktapur']}

In [19]:
a = {'name':['Ram','Shyam','Hari'],
    'age':[23,56,70],
    'add':['Kathmandu','Bhaktapur','Lalitpur']}
index = int(input("Enter index: "))
for i in a:
    x = input(f"Enter {i}") #but age changes into string fault program
    a[i][index]= x
a

Enter index: 2
Enter namesdfds
Enter age34
Enter addsdfds

{'name': ['Ram', 'Shyam', 'sdfds'],
 'age': [23, 56, '34'],
 'add': ['Kathmandu', 'Bhaktapur', 'sdfds']}

In [1]:
#dict inside list
l = [{'name':'Ram','age':23,'add':'Kathmandu'},
    {'name':'Shyam','age':32,'add':'Bhatkhapur'},
    {'name':'Hari','age':20,'add':'Lalitpur'}]
l

[{'name': 'Ram', 'age': 23, 'add': 'Kathmandu'},
 {'name': 'Shyam', 'age': 32, 'add': 'Bhatkhapur'},
 {'name': 'Hari', 'age': 20, 'add': 'Lalitpur'}]

In [1]:
l = []
n = int(input("Enter n: "))
for i in range(n):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    add = input("Enter address: ")
    d = {'name':name,'age':age,'add':add}
    l.append(d)
l

Enter n: 2
Enter name: ram
Enter age: 20
Enter address: ktm
Enter name: shyam
Enter age: 30
Enter address: bkt

[{'name': 'ram', 'age': 20, 'add': 'ktm'},
 {'name': 'shyam', 'age': 30, 'add': 'bkt'}]

In [2]:
#WAP to update delete read to above program

In [4]:
#dict inside dict
d = {1:{'name':'Ram','age':23,'add':'Kathmandu'},
     2:{'name':'Shyam','age':30,'add':'Bhaktapur'},
    3:{'name':'Hari','age':20,'add':'Lalitpur'}}
d

{1: {'name': 'Ram', 'age': 23, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 30, 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 20, 'add': 'Lalitpur'}}

In [9]:
info = {}
n = int(input("Enter n: "))
for i in range(1,n+1): #range(n) starts indices from 0.. but we need indices from 1
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    add = input("Enter address: ")
    info[i] = {'name':name,'age':age,'add':add}
info

Enter n: 2
Enter name: ram
Enter age: 20
Enter address: adf
Enter name: sdf
Enter age: 34
Enter address: sdf

{1: {'name': 'ram', 'age': 20, 'add': 'adf'},
 2: {'name': 'sdf', 'age': 34, 'add': 'sdf'}}

In [10]:
#WAP to add update delete read to above program