In [2]:
#pre defined function
# print() int() float() str() ....etc

In [3]:
#user defined function
#def <function_name>():
#    <operations>
    
#<function_name>()

In [4]:
def hello():
    print("hello world")
hello()

hello world

In [8]:
def cal(x,y): #x,y are parameters
    a = x*y
    print(a)
l = int(input("Enter l: "))
b = int(input("Enter b: "))
cal(l,b) #l,b are arguments

Enter l: 2
Enter b: 3
6

In [9]:
def cal(z): #x,y are parameters
    x,y=z
    a = x*y
    print(a)
l = int(input("Enter l: "))
b = int(input("Enter b: "))
z=[l,b]
cal(z) #l,b are arguments

Enter l: 3
Enter b: 2
6

In [12]:
def language(lan = "Python"):
    print(lan)

language("C")
language()

C
Python

In [13]:
#return type function
def hello():
    x = "Hello World"
    return x

hello()

'Hello World'

In [17]:
def num():
    a = int(input("Enter a: "))
    return a

x = num()
print(x+3)

Enter a: 2
5

In [4]:
def num():
    a = int(input("Enter a: "))
    return a
b = int(input("Enter b: "))
print(num() + b) #function is called at second

Enter b: 2
Enter a: 3
5

In [5]:
def add(a,b):
    return a+b

def sub(a,b):
    return a-b

def mul(a,b):
    return a*b

def div(a,b):
    return a/b

x=int(input("Enter x:"))
y=int(input("Enter y:"))
o=input("add / sub / mul / div")

Enter x:2
Enter y:2
add / sub / mul / divadd

TypeError: 'str' object is not callable

In [1]:
#recursive function
def hello():
    print("Hello world")
    x = input("Enter y for more print: ")
    if x =="y":
        hello()
hello()

Hello world
Enter y for more print: y
Hello world
Enter y for more print: y
Hello world
Enter y for more print: n

In [14]:
#math function
import math as m
print(m.sin(90))

0.8939966636005579

In [3]:
m.pi

3.141592653589793

In [11]:
print(m.sin(m.pi/2)) #pi/2 = 90 degrees

1.0

In [16]:
#lambda function
# lambda <arguments>:<operation>
# lambda is aka anonymous function
# lambda is return type function in default

In [17]:
a = lambda x:x**2
print(a(3))

9

In [18]:
a = lambda x,y:x*y
print(a(3,2))

6

In [19]:
# filter function
# map function

In [22]:
# filter
# filter(lambda <arguments>:<condition>,list)

In [23]:
a = [1,2,3,4,5,5,6,6,6,7]
list(filter((lambda x:x%2==0),a))

[2, 4, 6, 6, 6]

In [25]:
a = ["Apple","Ball","cat","dog","Fish"]
list(filter((lambda x:x.islower()),a))

['cat', 'dog']

In [24]:
# map
# map(lambda <arguments>:<condition>,list)

In [26]:
a = ["Apple","Ball","cat","dog","Fish"]
list(map((lambda x:x.lower()),a))

['apple', 'ball', 'cat', 'dog', 'fish']

In [28]:
a = [1,2,3,4,5,5,6,6,6,7]
list(map((lambda x:x**2),a))

[1, 4, 9, 16, 25, 25, 36, 36, 36, 49]

In [34]:
#list and dict as comprehensions (list and dict can do some work like filter and map)

In [31]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
a = [int(input("Enter value: ")) for i in range(5)] #list
a

Enter value: 3
Enter value: 4
Enter value: 5
Enter value: 6
Enter value: 7

[3, 4, 5, 6, 7]

In [35]:
a = sum([int(input("Enter value: ")) for i in range(5)])
a

Enter value: 1
Enter value: 2
Enter value: 4
Enter value: 1
Enter value: 1

9

In [3]:
a = {input("enter name: "):input("Enter phone = ") for i in range(3)} #dict
print(a)

enter name: sdfdsa
Enter phone = 445
enter name: gj
Enter phone = 123
enter name: vcbxc
Enter phone = 575
{'sdfdsa': '445', 'gj': '123', 'vcbxc': '575'}

In [4]:
x = [1,2,3,4,5]
a = {i:i**2 for i in x}
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}