In [1]:
l = []
a = int(input("enter a number: "))
for i in range(a):
    x = int(input("number: "))
    l.append(x)
print(l)

enter a number: 10
number: 2
number: 3
number: 4
number: 5
number: 6
number: 6
number: 7
number: 8
number: 9
number: 0
[2, 3, 4, 5, 6, 6, 7, 8, 9, 0]

In [8]:
print("min value: ",min(l))
print("max value: ",max(l))
print("sum value: ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

min value:  0
max value:  9
sum value:  50
[0, 2, 3, 4, 5, 6, 6, 7, 8, 9]
[9, 8, 7, 6, 6, 5, 4, 3, 2, 0]

In [9]:
a = ["ram", "shyam", "hari"]
a.sort()
print(a)

['hari', 'ram', 'shyam']

In [12]:
a.insert(1, "harry")
print(a)

['hari', 'harry', 'ram', 'shyam']

In [13]:
b = [1,2,3,4,5]
a.extend(b)
print(a)

['hari', 'harry', 'ram', 'shyam', 1, 2, 3, 4, 5]

In [22]:
x = ["ram", "shyam", "hari", "gita", "sita"]
x[0:1] = ["Jack","John","jackie","doggie"]
print(x)
x[0] = ["Jack","John"]
print(x)
x[0:0]=["Jack","John"]
print(x)

['Jack', 'John', 'jackie', 'doggie', 'shyam', 'hari', 'gita', 'sita']
[['Jack', 'John'], 'John', 'jackie', 'doggie', 'shyam', 'hari', 'gita', 'sita']
['Jack', 'John', ['Jack', 'John'], 'John', 'jackie', 'doggie', 'shyam', 'hari', 'gita', 'sita']

In [19]:
x = ["ram", "shyam", "hari", "gita", "sita"]
x[0:1]=["john","jack"]
print(x)

['john', 'jack', 'shyam', 'hari', 'gita', 'sita']

In [24]:
x = ["ram", "shyam", "hari", "gita", "sita"]
del x[0]
print(x)

['shyam', 'hari', 'gita', 'sita']

In [25]:
x = ["ram", "shyam", "hari", "gita", "sita"]
del x[0:2]
print(x)

['hari', 'gita', 'sita']

In [26]:
x = ["ram", "shyam", "hari", "gita", "sita"]
del x[1:1]
print(x)

['ram', 'shyam', 'hari', 'gita', 'sita']

In [27]:
x = ["ram", "shyam", "hari", "gita", "sita"]
x.remove("ram")
print(x)

['shyam', 'hari', 'gita', 'sita']

In [28]:
x = ["ram", "shyam", "hari", "gita", "sita"]
x.pop()
print(x)

['ram', 'shyam', 'hari', 'gita']

In [29]:
x = ["ram", "shyam", "hari", "gita", "sita"]
x.pop(1) #only one at a time
print(x)

['ram', 'hari', 'gita', 'sita']

In [33]:
x = ["ram", "shyam", "hari", "gita", "sita"]
y = x.pop(1) #only one at a time #also moves to another place unlike delete
print(x)
y = x.pop(2)
print(y)
print(x)

['ram', 'hari', 'gita', 'sita']
gita
['ram', 'hari', 'sita']

In [34]:
x = ["ram", "shyam", "hari", "gita", "sita"]
for i in x:
    print(i)

ram
shyam
hari
gita
sita

In [35]:
i = 0
x = ["ram", "shyam", "hari", "gita", "sita"]
l = len(x)
while i<l:
    print(x[i])
    i = i+1

ram
shyam
hari
gita
sita

In [37]:
x = ["ram", "shyam", "hari", "gita", "sita","hari"]
x.remove("hari")
print(x)

['ram', 'shyam', 'gita', 'sita', 'hari']

In [41]:
x = ["ram", "shyam", "hari", "gita", "sita","hari","hari"]
c = x.count("hari")
for i in range(c):
    x.remove("hari")
print(x)

['ram', 'shyam', 'gita', 'sita']

In [43]:
x = ["ram", "shyam", "hari", "gita", "sita","hari","hari"]
if "hari" in x:
    print("Yes", x.count("hari"))
else:
    print("No")

Yes 3

In [57]:
x = ["ram", "shyam", "hari", "gita", "sita","hari","hari"]
length = len(x)
for i in range(length):
    if x[i]=="hari":
        print(i)

2
5
6

In [63]:
x = ["ram", "shyam", "hari", "gita", "sita","hari","hari"]
name = input("enter a name= ")
length = len(x)
for i in range(length):
    if x[i].lower()==name.lower():
        print(i)

enter a name= HAri
2
5
6

In [2]:
info = [["ram",34,"kathmandu"],["shyam",20,"pokhara"],["hari",30,"nepalganj"]]
print(info)
print(len(info))

[['ram', 34, 'kathmandu'], ['shyam', 20, 'pokhara'], ['hari', 30, 'nepalganj']]
3

In [6]:
info[0]
#not info(0) list is not callable

['ram', 34, 'kathmandu']

In [7]:
info[0][0]

'ram'

In [8]:
name_list = []
n = int(input("enter n: "))
for i in range(n):
    name = input("name: ")
    age = int(input("age: "))
    add = input("address: ")
    x = [name, age, add]
    name_list.append(x)
print(name_list)

enter n: 2
name: rar
age: 23
address: sdfas
name: sfaas
age: 34
address: sdf
[['rar', 23, 'sdfas'], ['sfaas', 34, 'sdf']]

In [10]:
name_list.append(["hari",23,"sadfs"])
name_list

[['rar', 23, 'sdfas'], ['sfaas', 34, 'sdf'], ['hari', 23, 'sadfs']]

In [11]:
name_list[0][0] = "shyam"
name_list

[['shyam', 23, 'sdfas'], ['sfaas', 34, 'sdf'], ['hari', 23, 'sadfs']]

In [12]:
a = [['shyam', 23, 'sdfas'], ['sfaas', 34, 'sdf'], ['hari', 23, 'sadfs']]
del a[0]
a

[['sfaas', 34, 'sdf'], ['hari', 23, 'sadfs']]

In [16]:
b = [['shyam', 23, 'sdfas'], ['sfaas', 34, 'sdf'], ['hari', 23, 'sadfs']]
c = b.pop()
print(b)
print(c)

[['shyam', 23, 'sdfas'], ['sfaas', 34, 'sdf']]
['hari', 23, 'sadfs']

In [17]:
b = [['shyam', 23, 'sdfas'], ['sfaas', 34, 'sdf'], ['hari', 23, 'sadfs']]
c = b.pop(1)
print(b)
print(c)

[['shyam', 23, 'sdfas'], ['hari', 23, 'sadfs']]
['sfaas', 34, 'sdf']

In [7]:
#search in list inside list
list1 = [['shyam', 23, 'sdfas'], ['sfaas', 34, 'sdf'], ['hari', 23, 'sadfs']]
name = input("enter name to search: ")
for i in list1:
    if name in i:
        print(i)

enter name to search: shyam
['shyam', 23, 'sdfas']

In [11]:
list1 = [['shyam', 23, 'sdfas'], ['sfaas', 34, 'sdf'], ['hari', 23, 'sadfs'],['shyam', 23, 'sdfas']]
name = input("enter name to search: ")
l = len(list1)
for i in range(l):
    if name in list1[i]:
        print(i)

enter name to search: shyam
0
3

In [12]:
m = []
r = int(input("enter r: "))
c = int(input("enter c: "))

for i in range(r):
    y = []
    for j in range (c):
        x = int(input("Enter x: "))
        y.append(x)
    m.append(y)
print(m)

enter r: 2
enter c: 3
Enter x: 1
Enter x: 2
Enter x: 3
Enter x: 1
Enter x: 2
Enter x: 3
[[1, 2, 3], [1, 2, 3]]