In [1]:
print("Hello world")

Hello world

In [2]:
+ - * / % //

30

In [8]:
a = 13
b = 5
print(a+b)
print(a-b)
print(a%b)
print(a//b)

18
8
3
2

In [14]:
a = input("What is your name?")
print("Hello " + a)

What is your name?ram
Hello ram

In [1]:
a = input()
b = input()
print(a+b)

10
10
1010

In [12]:
p = int(input("Principal: "))
t = float(input("Time: "))
r = float(input("Rate: "))
si = p*t*r/100
print("Simple Interest", si)

Principal: 10
Time: 2
Rate: 3
Simple Interest 0.6

In [6]:
#WAP to take subject marks from user and find total and percentage
a = int(input("english: "))
b = int(input("maths: "))
c = int(input("science: "))
d = int(input("social: "))
e = int(input("nepali: "))
total= a+b+c+d+e
per=total/5
print("Total =", total)
print("Percentage =",per,"%")

if a>=40 and b>=40 and c>=40 and d>=40 and e>=40:
    print("Pass")
else:
    print("Fail")
    
if per>=80:
    grade = "A"
elif per>=60:
    grade = "B"
elif per>=40:
    grade = "C"
else:
    grade = "D"
print("Grade =", grade)

english: 50
maths: 60
science: 30
social: 40
nepali: 50
Total = 230
Percentage = 46.0 %
Fail
Grade = C

In [5]:
#WAP to make a calculator
a = int(input("a: "))
b = int(input("b: "))
o = input("Operator: ")

if o == "+":
    result = a + b
    print("a",o,"b = ",result)
elif o == "-":
    result = a - b
    print("a",o,"b = ",result)
elif o == "*":
    result = a * b
    print("a",o,"b = ",result)
elif o == "/" and b!=0:
    result = a / b
    print("a",o,"b = ",result)
elif o == "/" and b==0:
    print("Value of b cannot be zero")
else:
    print("Invalid operator")

a: 5
b: 10
Operator: *
a * b =  50

In [1]:
x = int(input("Enter x = "))
for i in range(1,11):
    print(x,"x",i,"=",x*i)

Enter x = 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [8]:
a = int() #equal as initialize as 0
for i in range(5):
    x = int(input("value of x: "))
    a += x
print(a)

value of x: 1
value of x: 2
value of x: 3
value of x: 4
value of x: 5
15

In [4]:
a = str() #equal as empty string
for i in range(5):
    x = input("value of x: ")
    a += x
print(a)

value of x: a
value of x: v
value of x: vc
value of x: d
value of x: e
avvcde

In [16]:
#WAP name and phone number
contact = ""
for i in range(3):
    name = input("Enter name: ")
    phone = input("Enter phone: ")
    contact = contact + name + " " + phone + "\n"
print(contact)

Enter name: ram
Enter phone: 234
Enter name: ram
Enter phone: 234
Enter name: ram
Enter phone: 4545
ram 234
ram 234
ram 4545

In [22]:
#WAP for factorial
fac = 1
a = int(input("Give a number: "))
for i in range(1,a+1):
    fac = fac * i
print("Factorial of",a,":",fac)

Give a number: 5
Factorial of 5 : 120

In [3]:
## WAP to make a billing system
#name price quantity total
#coke 100 3 300

total = ""
totalbill = int()
a = int(input("How many items you bought?: "))
for i in range(a):
    item = input("name of item: ")
    price = int(input("price: "))
    quantity = int(input("quantity: "))
    total = total + item + " " + str(price) + " " + str(quantity) + " " + str(price*quantity) + "\n"
    totalbill = totalbill + price*quantity
print(total)
print("Total bill: ",totalbill)

How many items you bought?: 3
name of item: coke
price: 300
quantity: 2
name of item: pizza
price: 800
quantity: 1
name of item: momo
price: 150
quantity: 4
coke 300 2 600
pizza 800 1 800
momo 150 4 600

Total bill:  2000

In [5]:
a = "apple" #however int is not iterable
for i in a:
    print(i)

a
p
p
l
e

In [7]:
a = "i need apple" #however int is not iterable
for i in a:
    print(i, end="")

i need apple

In [20]:
a = "i need apple. i need samsung." #however int is not iterable
for i in a:
    if i!=".":
        print(i,end="")

i need apple i need samsung

In [22]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [24]:
a = "i need apple. i need samsung." #however int is not iterable
for i in a:
    if i==".":
        break
    print(i,end="")

i need apple

In [26]:
for i in range(10):
    if i == 5:
        continue
    print(i,end="")

012346789

In [28]:
a = 0
while a<5:
    print(a)
    a = a + 1 #infinite execution

0
1
2
3
4

In [41]:
i = 1
a = int(input())
while i<=10:
    print(i*a)
    i+=1

5
5
10
15
20
25
30
35
40
45
50

In [45]:
## WAP to make a billing system
#name price quantity total
#coke 100 3 300

i=0
total = ""
totalbill = int()
a = int(input("How many items you bought?: "))
while i<a:
    item = input("name of item: ")
    price = int(input("price: "))
    quantity = int(input("quantity: "))
    total = total + item + " " + str(price) + " " + str(quantity) + " " + str(price*quantity) + "\n"
    totalbill = totalbill + price*quantity
    i+=1
print(total)
print("Total bill: ",totalbill)

How many items you bought?: 3
name of item: sdfsf
price: 23
quantity: 23
name of item: sdfs
price: 23
quantity: 4345
name of item: dgdg
price: 2
quantity: 34
sdfsf 23 23 529
sdfs 23 4345 99935
dgdg 2 34 68

Total bill:  100532

In [3]:
#WAP to find given no prime or composite
a = int(input("enter a number: "))
if a>1:
    for i in range(a):
        if i==a and i%a==0:
            print("The number is prime.")
        else:
            print("Composite")

enter a number: 7
Composite
Composite
Composite
Composite
Composite
Composite
Composite