In [1]:
a = "hello world"
print(type(a))

<class 'str'>

In [2]:
a = "hello"
b = "world"
c = a + b
print(c)

helloworld

In [3]:
a = "hello world\n"
print(a*2)

hello world
hello world

In [4]:
a = "hello world"
for i in a:
    print(i,end="")

hello world

In [17]:
a = "hello world"
print(a[0])
print(a[0:5])
print(a[0:10:2])
print(a[5:])
print(a[-1])
print(a[-1:-12:-1])
print(a[::-1])

h
hello
hlowr
 world
d
dlrow olleh
dlrow olleh

In [21]:
a = "hello world"
l = len(a)
for i in range(l):
    print(a[i])

h
e
l
l
o

w
o
r
l
d
h

In [25]:
a = "hello world"
i = 0
l1 = len(a)
while i<l1:
    print(a[i])
    i += 1

h
e
l
l
o

w
o
r
l
d

In [27]:
#string formatting
name = "Ram"
age = 10
add = "Kathmandu"

info = "Hello world " + "I am " + name + " of age " + str(age) + "years old from " + add
print(info)

Hello world I am Ram of age 10years old from Kathmandu

In [30]:
#string formatting no worries of data type or concatenation
name = "Ram"
age = 10
add = "Kathmandu"

info = f"Hello world I am {name} of {age} years old and from {add}."
print(info)

Hello world I am Ram of 10 years old and from Kathmandu.

In [35]:
a = "ram shyam hari gita ramesh"
search = input("Enter name: ")
if search in a:
    print("Yes",a.count(search))
else:
    print("No")
    
#these kind of limitation in string, solved in array later

Enter name: Ram
No

In [39]:
a = "ram shyam hari gita ramesh"
print(a.lower())
print(a.upper())

ram shyam hari gita ramesh
RAM SHYAM HARI GITA RAMESH

In [2]:
#string is immutable data type
#list is mutable data type

#for eg: lowering or uppering is forceful, so not immutable (cannot be changed)
b = "ram shyam hari gita ramesh"
a = "ram shyam hari gita ramesh".upper()
print(a)
print(b.upper())
print(b)
print(b.title())
print(b.islower())
print(b.isupper())
print(a.isupper())
print(a.replace('RAM','RAMA'))

RAM SHYAM HARI GITA RAMESH
RAM SHYAM HARI GITA RAMESH
ram shyam hari gita ramesh
Ram Shyam Hari Gita Ramesh
True
False
True
RAMA SHYAM HARI GITA RAMAESH

In [6]:
a = input("enter any word or number: ")
if a==a[::-1]:
    print("palindrome")
else:
    print("not palindrome")

enter any word or number: 10001
palindrome