In [1]:
"""
Tuple
- Indexing
- Multiple and duplicate data
- Ordered
- Imutable
"""

'\nTuple\n- Indexing\n- Multiple and duplicate data\n- Ordered\n- Imutable\n'

In [2]:
t = tuple()
a = (1,2,3,4,5,6,7,8,9)
b = ("Apple","Ball","Cat")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [5]:
t = ("Apple")
print(type(t))
t = ("Apple",)
print(type(t))

<class 'str'>
<class 'tuple'>

In [10]:
b = ("Apple","Ball","Cat")
print(b[0])
print(b[0:2])
print(b[0:3:2])

Apple
('Apple', 'Ball')
('Apple', 'Cat')

In [11]:
#No append
#No extend
#No insert
#No sort
#No delete

In [12]:
#can concat
a = (1,2,3,4,5)
b = (6,7,8,9,0)
print(a+b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [13]:
t = ()
n = int(input("Enter n: "))
for i in range(n):
    x = int(input("Enter x: "))
    t = t + (x,)
print(t)

Enter n: 2
Enter x: 1
Enter x: 2
(1, 2)

In [20]:
a = (1,2,3,4,5,6,7,8,9)
print(min(a))
print(sum(a))
print(sorted(a)) #prints in list

1
45
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
#tuple to list
a = (1,2,3,4,5,6,7,8,9)
print(list(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
a = (1,2,3,4,5,6,7,8,9)
b = list(a)
del b[0]
a = tuple(b)
print(a)

(2, 3, 4, 5, 6, 7, 8, 9)

In [28]:
info = ()
n = int(input("Enter n: "))
for i in range(1,n+1): 
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    add = input("Enter address: ")
    info = info + ((name,age,add),) #if (name,age,add) then just one tuple, not tuple inside tuple
info

Enter n: 2
Enter name: sdfs
Enter age: 23
Enter address: dsf
Enter name: sdfsdf
Enter age: 23
Enter address: sdf

(('sdfs', 23, 'dsf'), ('sdfsdf', 23, 'sdf'))

In [29]:
"""
Set
- No indexing
- Multiple but no duplicate data
- Unordered
- Mutable
"""

'\nSet\n- No indexing\n- Multiple but no duplicate data\n- Unordered\n- Mutable\n'

In [46]:
s = set()

In [47]:
s = {1,2,3,4,5,6,7,8,9}
print(type(s))

<class 'set'>

In [8]:
s = {1,2,3,4,5,6,7,8,9}
a = {"ram","shyam","hari"}
print(s)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'shyam', 'ram', 'hari'}

In [1]:
a = {"ram","shyam","hari","ram"}
print(a)

{'shyam', 'ram', 'hari'}

In [9]:
s = {1,2,3,4,5,6,7,8,9,1,2,3}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [1]:
a = {4,5,6,7,8,9,1,2,3}
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
a = {}
print(type(a))
b={1}
print(type(b))
c={1:2}
print(type(c))

<class 'dict'>
<class 'set'>
<class 'dict'>

In [14]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
s.add("Apple") #duplicate item wont be added
s

{'Apple', 'Ball', 'Cat'}

In [15]:
s.remove("Apple")
s

{'Ball', 'Cat'}

In [20]:
a = {"ram","shyam","hari"}
for i in a: #cannot use range, cos it doesn't support range
    print(i)

hari
shyam
ram

In [31]:
#set for math
a = {"ram","shyam","hari"}
b = {"ram","steve","john","hari"}
c = {"ram","steve","john","hari","ram1","steve1","john1","hari1"}
print(a.intersection(b))
print(a.union(b))
print(a-b)
print(b-a)
print(c-a.union(b))

{'hari', 'ram'}
{'john', 'shyam', 'steve', 'ram', 'hari'}
{'shyam'}
{'john', 'steve'}
{'hari1', 'john1', 'ram1', 'steve1'}

In [1]:
pwd

'/Users/phuruwasherpa/Documents/Documents - Phuruwaâ€™s MacBook Air/Data Science/class practice'